.top-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: asset-url("wolox-bg.png");

  .header {
    font-size: 90px;
    color: $light-blue;
    margin-top: -15px;
  }

  .sub-header {
    font-size: 50px;
    color: $light-green;
  }
}

.obligatory {
  display: flex;
  flex-direction: row;
  .red {
    color: $red;
  }
}

.inside-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  padding: 0 20px;
  position: relative;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .suggestion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
  }
}

.suggestions-container {
  display: flex;
  flex-direction: column;

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 80px;
  }
}

.errors {
  margin-bottom: 15px;
  color: $red;
  font-size: 18px;
}

.insert {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $light-grey;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  font-size: 22px;
  background-color: $green;
  color: $white;
  padding: 14px 20px;
  margin: 15px 0 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
  }
}

.language {
  width: 100%;
  float: right;
}

@media screen and (max-width: 600px) {
  .top-container {
    justify-content: flex-start;
  }
}
